/*****************************************************
GENERAL
******************************************************/
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    padding: 0 0 50px 0;
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;

    box-sizing: border-box;
}
.home {
    background-color: #FE6163;
}

.gallery {
    background-color: #EFEBE9;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 3.5em;
    font-weight: normal;

}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: #706865;
    margin: 0 auto;
    font-weight: bold;
}

#topline {
    height: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #4DB6AC;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5% 5% 5%;
}


/*****************************************************
HEADING
******************************************************/
header {
    position: relative;
    padding: 0 0 70px 0;
    height: 127px;
    background-color: #EFEBE9;

}

#logo h1{
    font-size: 3.75em;
    float: left;
    margin: 0 0 0 2%;
}

#logo-image {
    float: left;
    width: 3em;
    margin: 22px 0 0 5px;
}

#toggle {
    display: none;
}


/*****************************************************
NAVIGATION
******************************************************/

nav {
    background: none;
    float: right;
    text-align: center;
    padding: 10px 0;
    margin: -177px 0 0 0;
    z-index: 200;
}

nav ul {
    list-style: none;
    padding: 0 50px 0 0;

}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: #4DB6AC;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



/*****************************************************
FOOTER
******************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.18);
}

footer p {
    margin: 0;
    color: #fff;
    line-height: 50px;
}

/*****************************************************
PAGE HOME
******************************************************/
#slogan {
    padding: 0 0 100px 0;
    width: 100%;
    background-color: #EFEBE9;
}

#slogan h2 {
    text-align: center;
    font-size: 3.5em;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

#slogan p {
    margin: 10px auto;
    text-align: center;
    font-size: 2em;
    color: #A69B97;
    width: 450px;
}

.feature-container {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 7em;
}

.feature-container > div {
    padding: 3em 1em 1em 1em;

}

.feature-container h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.7em;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin: 40px 0 5px 0;
}

.feature-container p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.2;
    margin: 0;
}

.feature-container img {
    display: block;
    margin: 0 auto;
}

/*****************************************************
PAGE GALLERY
******************************************************/
.gallery-container * {
    box-sizing: border-box
}

.gallery-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
    margin: 1em auto;
    padding-bottom: 20px;


}
.gallery-container img {
    display: block;
    width: 100%;
    padding: 0 0 60px 0;
}

/*****************************************************
GALLERY HOVER EFFECTS
******************************************************/
.item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(34, 32, 32, 0.18);
    position: relative;
}

.cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #4DB6AC;
    height: 4em;
    width: 100%;
    line-height: 4em;
    transition: .5s ease;
}

.item:hover .cover {
    height: 100%;
}

.cover h3 {
    font-size: 1.7em;
    border-bottom: dotted rgb(205, 236, 233);
    border-width: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.18);
}

.cover p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 30px 20px;
    margin: auto;
    color:  rgb(205, 236, 233);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


/*****************************************************
GALLERY NEXT/PREVIOUS BUTTONS
******************************************************/
#buttons div {
    width: 120px;
    background-color: #FE6163;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 rgb(202, 74, 76)
}

#buttons a p {
    color: #fff;
    font-size: 1.2em;
    margin: 10px;
}

#next-button {
    float: right;
}

#previous-button {
    float: left;
}

#next-button:active, #previous-button:active  {
    box-shadow: none;
    transform: translateY(3px);
}
/*****************************************************
COLORS
******************************************************/
/* logo text */
h1 {
    color: #FE6163;
}

h3 {
    color: rgb(205, 236, 233);
    margin: 0;
}

nav a {
    color: #a69b97;
    text-decoration: none;
    position: relative;
}

nav a nav a:visited {
    color: #fff;
}

nav a:hover {
    width: 100%;
    color: #4DB6AC;

  }

nav a.selected {
    color: #4DB6AC;
}




