/*****************************************************
GENERAL
******************************************************/
html {
    overflow: scroll;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}



/*****************************************************
HEADING
******************************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo { 
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Baloo Bhai', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
}

h2 {
    font-size:  0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}



/*****************************************************
NAVIGATION
******************************************************/

nav {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 10px;

}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

footer {
    font-size:  0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: red;
}


/*****************************************************
PAGE GALLERY
******************************************************/

section {
    width: 100%;
}



#gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

#gallery li {
    width: 45%;
    background-color: #ABEDE7;
    color: #4A4848;
    border-radius: 5px;
    overflow: none;
    box-shadow: 0px 4px 8px rgb(134, 131, 131);
    margin-bottom: 20px;
    overflow: hidden;   
}


#gallery li a p {
    text-align: center;
    margin: 0;
    padding: 5%;
    font-size: 1.5em;
    color: #4A4848;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}



/*****************************************************
COLORS
******************************************************/

/* site body */
body {
    background-color: #fff;
    color: #fff;
    overflow: hidden;
}

/* Header color */
header {
    background: #FE6163;
}

nav {
    background: #FE6163;
}

/* logo text */

h1, h2 {
    color: #fff;
}

/* links (photos) */
a {
    color: #999;
}

nav a {
    color: #fff;
}

