@media screen and (max-width: 854px) {

/*****************************************************
HEADER
******************************************************/

    
    #logo h1 {
        font-size: 3em;
        margin: 25px 0 0 40px;
    }

    #logo-image {
        width: 2.7em;
        margin-top: 40px;
    }

    nav {
        width: 40%;
        padding: 15px 0;
    }
     nav ul {
         padding: 0;
    }


/*****************************************************
PAGE GALLERY
******************************************************/
     #gallery li a p {
         font-size: 1.1em;
         padding: 2px 0;
     }

     .name h3 {
         font-size: 1em;
         margin: 12px auto;
         text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
     }
}

@media screen and (max-width: 645px) {
    
    body {
        background-color: #FE6163;
    }

/*****************************************************
HEADER
******************************************************/
    header {
       background: none;
       box-shadow: none;
       margin: 0;
       height: 80px;
    }

    #topline {
        display: none;
    }

    #logo {
        display: block;
        margin: 0 auto;
        width: 220px;
        height: 51px;
    }

    #logo h1 {
        font-size: 2em;
        margin: 7px 0 0 0;
        color: #fff;
    }

    #logo-image {
        margin-top: 18px;
        width: 1.7em;
        content: url("../img/logo-mobile.svg");
    }

/*****************************************************
PAGE GALLERY
******************************************************/
    #gallery {
        justify-content: space-evenly;
        padding: 2% 5%;
    }

    #gallery-text {
        font-size: 1em;
        color: #ffcecc;
    }
    #gallery li {
        width: 40%;
    }

    #gallery h3 {
        color: #4DB6AC;
    }
    #gallery li a p {
        color: #4DB6AC;
    }

    #gallery li:nth-child(4n) {
        clear: left;
    }

    .overlay {
        background-color: #d7ccc8;
    }




/*****************************************************
MOBILE DEVICES NAV
******************************************************/

    body {
        margin: 0;
        padding: 0;
    }

    nav {
        all: initial;
    }

    nav a:before {
        all: initial;
    }

    nav a {
        color: #fff;
        transition: color 0.3s ease;
        padding: 0;
    }

    nav a.selected {
         color: #00867d;
     }

    #menuToggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 15px;
        
        z-index: 100;
        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 11; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

    #menuToggle span  {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #fff;
        border-radius: 3px;
        
        z-index: 110;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
        }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff;
    }

/*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

/*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
        z-index: 105;
        position: absolute;
        width: 160px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        border-radius: 0 0 10px 0;
        background: #4DB6AC;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }   

    #menu li {
        display: block;
        font-family: 'Nunito', sans-serif;
        padding: 10px 0;
        font-size: 22px;
    }

    /*
    * Sliding menu to the left
    */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

/*****************************************************
DARKEN BACKGROUND WHEN NAVIGATION IS OPENED
******************************************************/

    input[type=checkbox]:checked ~ label ~ .darken {
        opacity:    0.7; 
        background: rgb(29, 27, 27); 
        width:      100%;
        height:     100%; 
        z-index:    10;
        top:        0; 
        left:       0; 
        position:   fixed; 
        transition: 0.5s;
    }

    input[type=checkbox]:not(:checked) ~ label ~ .darken {
        opacity:    0.7; 
        background: none; 
        width:      100%;
        height:     100%; 
        z-index:    10;
        top:        0; 
        left:       0; 
        position:   fixed; 
        transition: 1s;

        /* Hide the element when checkbox is unchecked so it doesn't get on my way when inspecting elements */
        visibility: hidden;
    }
}
/*****************************************************
DARKEN BACKGROUND WHEN NAVIGATION IS OPENED
******************************************************/


