@media screen and (min-width: 480px) {
/*****************************************************
TWO COLUMN LAYOUT
******************************************************/
        header {

        }

/*****************************************************
PAGE: GALLERY
******************************************************/
    #gallery li {
        width: 23.3333%
    }

    #gallery li:nth-child(4) {
        clear: left;
    }
}



@media screen and (min-width: 660px) {
/*****************************************************
    THREE COLUMN LAYOUT
******************************************************/
        body {
            background-color: #F0E8E6;
        }
        nav {
            background: none;
            float: right;
            font-size: 1.125em;
            text-align: right;
            width: 45%;
        }

        #logo {
            float: left;
            margin-left: 5%;
            text-align: left;
            width: 45%;
        }

        header h1 {
            font-size: 3.5em;
        }

        header h2 {
            font-size: 0.825em;
            margin-bottom: 30px;
        }

        /* header {
            clip-path: polygon(
              0 0,   left top 
              100% 0, right top
              100% 100%,  right bottom 
              0 calc(100% - 12vw) left bottom 
            );
          } */
        
          header {
              margin-bottom: 60px;
          }

    }