@media screen and (max-width: 920px) {

    .title h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

    .sorting p {
        font-size: 1em;
    }

    #feature-container {
        grid-column-gap: 5em;
    }
}

@media screen and (max-width: 854px) {

/*****************************************************
HEADER
******************************************************/

    
    #logo h1 {
        font-size: 3em;
        margin: 0 0 0 20px;
    }

    #logo-image {
        width: 2.7em;
        margin-top: 15px;
    }

    nav {
        width: 40%;
        margin: -110px 0 0 0;
    }


     nav ul {
         padding: 0;
    }

    nav li {
        padding: 0 0.2em;
    }



/*****************************************************
PAGE HOME
******************************************************/

    #features {
        margin: 0 auto;
    }

    #feature-container {
        display: block;
    }


/*****************************************************
PAGE GALLERY
******************************************************/

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 645px) {
    
/*****************************************************
HEADER
******************************************************/
    html {
        width: 100%;
    }

    header {
       background-color: #EFEBE9;
       box-shadow: none;
       margin: 0;
       padding: 0 0 20px 0;
       height: 60px;
    }

    #topline {
        display: none;
    }

    #logo {
        display: block;
        margin: 0 auto;
        width: 220px;
        height: 51px;
    }

    #logo h1 {
        font-size: 2em;
        margin: 7px 0 0 0;
        color: #FE6163;
    }

    #logo-image {
        margin-top: 18px;
        width: 1.7em;
        content: url("../img/logo-mobile.svg");
    }

    footer {
        bottom: unset;
        margin-top: 40px;
        position: relative;
    }

/*****************************************************
PAGE INDEX
******************************************************/

    .slogan {
        padding: 0 0 40px 0;
    }

    .slogan h2 {
        font-size: 2.5em;
    }

    .slogan p {
        font-size: 1.5em;
        text-align: center;
    }

    .slogan-desc {
        width: 80%;
    }

    .button p {
        font-size: 1em;
    }


    #feature-container > div {
        margin: 0 0 60px 0;
        padding: 0;
    }

    #feature-container h3 {
        font-size: 1.2em;
        margin: 10px 0 0 0;
    }

    #feature-container p {
        display: none;
    }


    #feature-container img {
        width: 30%;
    }

/***  MOBILE SIGN UP FORM  ***/

    .form {
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        border-radius: 0px;
    }

    .form h3 {
        font-size: 1.5em;
    }

    legend {
        font-size: 1.2em;
    }

    button {
        width: 60%;
        margin: 10px auto;
    }


/*****************************************************
PAGE GALLERY
******************************************************/

    .gallery-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .item:hover .cover {
        height: 4em;
    }



/*****************************************************
PAGE FORUM
******************************************************/
    #forum-wrapper {
        max-width: 95%;
    }

    .category {
        height: 60px;
    }

    .category h4 {
        line-height: 60px;
    }

    .sorting {
        grid-template-columns: 50% 10% 10% 24%;
        padding: 0 2%;   
    }

    .row {
        padding: 1% 2%;
    }

    .row > div{
        margin: 0;
    }

    .content .title {
        flex: none;
        width: 52%;
    }

    .content .align-center {
        width: 12%;
    }

    .content .last {
        width: 24%
    }

    .title p {
        display: none;
    }

    .content img {
        display: none;
    }



/*****************************************************
PAGE CREATOR
******************************************************/
    .steps legend {
        flex: 1;
    }

    .line {
        display: none;
    }

    .creator-container h2 {
        font-size: 1.5em;
    }

    #shiba {
        margin: 40px 0;
    }

/*****************************************************
MOBILE DEVICES NAV
******************************************************/

    body {
        margin: 0;
        padding: 0;
    }

    nav {
        all: initial;
    }

    nav a:before {
        all: initial;
    }

    nav a {
        color: rgb(255, 187, 184);
        padding: 0;
    }

    #menu .selected {
         color: #fff;
     }

     #menu .selected {
         font-size: 1.25em;
     }

     nav a:hover {
        color: #FF9491;   
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0;
        transform-origin: 0% 0%;
        transition: 0.5s ease;
        visibility: hidden;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 14px;
        left: 14px; 
        z-index: 100;
        -webkit-user-select: none;
        user-select: none;
        
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -10px;
        left: -10px;
        cursor: pointer;
        opacity: 0;
        z-index: 11;
        -webkit-touch-callout: none;
    }

    #burger span {
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #4DB6AC;
        z-index: 9;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;

    }

    #burger span:first-child {
        transform-origin: 0% 0%;
    }

    #burger span:nth-child(2) {
        transform-origin: 0% 100%;
        width: 20px;
    }

    /* Crossmark transform */
    #menuToggle input:checked ~ #burger span {
        transform: rotate(-45deg) translate(-2px, -1px);
        background: #fff;
    }

    /* Hide the middle one */
    #menuToggle input:checked ~#burger span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        box-shadow: none;    }

    /* Rotate last span other direction */
    #menuToggle input:checked ~ #burger span:nth-last-child(3) {
        transform: rotate(45deg) translate(2px, -1px);
        background: #fff;
    }

    #menu {
        position: absolute;
        margin: -40px 0 0 -32px;
        padding: 80px 96px;
        background: #FE6163;
        border-radius: 0 0 10px 0;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    #menu li {
        display: block;
        padding: 10px 0;
        font-size: 22px;
        text-align: center;
    }

    /* darken background while menu is active */
    input[type=checkbox]:checked ~  .overlay {
        opacity: 0.7;
        visibility: visible
    }

    #burger {
        position: absolute;
    }
}

